.body {
    padding-left: 2%;
    padding-right: 2%;;
}

.row {
    display:flex;
}

.columnT {
    flex: 65%;
}
.columnI {
    flex: 35%
}

.columnDI {
    flex: 20%
}

.columnDT {
    flex: 80%
}

.columnS {
    flex: 50%;
}

.spacing {
    padding: 5px;
}

.center {
    display:grid;
    align-items: center;
}

.round {
    border-radius: 10px;
    background-color: rgb(11, 109, 11);
}

.columnW {
    flex: 33.3%;
    margin-left: -10;
    margin-right: -25;
}



h1{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    font-size: 5vw;
    font-weight: oblique;
}

h2 {
    color: rgb(11, 109, 11);
    font-family:'Cambria, Cochin', Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5vw;
}

h3 {
    color: white;
    font-family: cursive;
    font-size: 7vw;
}

p {
    color: black;
    font-size: 2.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

img {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    text-align: center;
    place-self: center;
    width: 100%;
    font-weight: bold;
}

th, td {
    padding: 25 10px;
}

ol {
    color: white;
    text-align: left;
    font-weight: lighter;
    font-size: 3vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

strong {
    font-size: 10vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}